@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>PizzaMama Accueil</title>
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">PizzaMama Accueil</h1>
        <a asp-page="Menu_pizzas">Voir le menu des pizzas</a>
    </div>

</body>
</html>

