@page
@model pizza_mama.Pages.Menu_pizzasModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Les Pizzas</title>
</head>
<body>
    <a asp-page="Index"><img id="small_logo" src="~/images/small_logo.png" /></a>

    <div class="menu_title">
        <h1>Les Pizzas</h1>
    </div>
    

    <div class="menu_list">
        @foreach (var pizza in Model.Pizzas)
       {
           <div class="menu_list_item">
                <span class="menu_list_title">@pizza.name</span>
                <span class="menu_list_price">@String.Format("{0:0.00}", pizza.price)€</span>
                <span class="menu_list_ingredients">@pizza.ingredients</span>

                @if(pizza.vegetarian)
                {
                    <span class="menu_list_badge">VÉGÊTARIENNE</span>
                }


            </div>
       }
    </div>


</body>
</html>

